body {
  background-image: url(mariobackground.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  /* Align child items with flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Removes any default margin */
  margin: 0;

  /* Forces the body to cover the entire visible height */
  min-height: 100vh;

  /* Font properties are inherited by child elements */
  font-family: "Source Code Pro", serif;
}

/* * {
  outline: 2px solid greenyellow;
} */


/* class to hide elements */
div.hidden {
  display: none;
}


.welcome-container {
  /* put this child item at the top */
  align-self: start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  color: aliceblue;
  text-align: center;
  font-size: 38px;
  font-weight: 900;
  margin-top: 40px;
}

.welcome-word {
  color: #25e83f;
}

.but-play {
  width: 150px;
  height: 45px;
  background-color: transparent;
  border-color: rgb(255, 0, 187);
  border-radius: 12px;
  box-shadow: 5px 5px 10px #ff0bde, -5px -5px 10px #ff0bde;
  margin-top: 25px;
  cursor: pointer;
}

.but-play:hover {
  transform: scale(1.1);
}

.but-text1 {
  color: antiquewhite;
  font-weight: 600;
}


.game-screen {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-width: 90vw;
  margin-inline: 5%;
  gap: 40px;
  background-color: #050811da;
}

.image-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  gap: 25px;
}

.image-container img {
  flex: 1;
  width: 100%;
  max-width: 33vw;
  aspect-ratio: 1;
  border-radius: 12px;
  box-shadow: 5px 5px 1px #93f226, -5px -5px 1px #fb20ff;
  cursor: pointer;
}

.image-container img:hover {
  transform: scale(0.9);
}

/* This can be instead a `score` class that you can put on both h1 */
#computer-score,
#player1-score {
  flex: 1;
  text-align: center;
  font-weight: 800;
  color: aliceblue;
  margin-inline: 1rem;
}

#computer-score {
  margin-bottom: 100px;
}

#player1-score {
  margin-top: 80px;
}

.choices {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 5%;
  padding: 3rem;

  background-color: #050811da;
}

.choices img {
  flex: 1;
  width: 50%;
  aspect-ratio: 16/12;
  max-width: 320px;
  max-height: 225px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #f8f9f9, -5px -5px 10px #cfcdce;
}

.choices h2 {
  text-align: center;
  font-weight: 800;
  color: aliceblue;
}

.choices h1 {
  text-align: center;
  font-weight: 800;
  color: rgb(255, 7, 152);
  margin-bottom: 45px;
}

.choices button {
  width: 150px;
  height: 45px;
  background-color: transparent;
  border-color: rgb(0, 255, 157);
  border-radius: 12px;
  box-shadow: 5px 5px 10px #0bffaa, -5px -5px 10px #ff0bde;
  margin-top: 25px;
  cursor: pointer;
}

.next-round-text {
  color: antiquewhite;
  font-weight: 600;
}

.choices button:hover {
  transform: scale(1.1);
}