body {
  background-image: url(mariobackground.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
 
  align-items: center;
  justify-content: center;
}

#welcome-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: visible;

}

.welcome-text {
  font-family: "Source Code Pro", serif;
  color: aliceblue;
  text-align: center;
  font-size: 38px;
  font-weight: 900;
  margin-top: 40px;
}
.welcome-word {
  color: #25e83f;
}

.but-play {
  width: 150px;
  height: 45px;
  background-color: transparent;
  border-color: rgb(255, 0, 187);
  border-radius: 12px;
  box-shadow: 5px 5px 10px #ff0bde, -5px -5px 10px #ff0bde;
  margin-top: 25px;
  cursor: pointer;
}
.but-play:hover {
  transform: scale(1.1);
}
.but-text1 {
  font-family: "Source Code Pro", serif;
  color: antiquewhite;
  font-weight: 600;
}

.game-screen {
  width: 90%;
  height: 92vh;
  display: none;
  position: absolute;
  bottom: 45px;
  background-color: #050811da;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-left: 6%;

}

.image-container {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.image-container img {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  box-shadow: 5px 5px 1px #93f226, -5px -5px 1px #fb20ff;
  cursor: pointer;
}

.image-container img:hover {
  transform: scale(0.9);
}

#computer-score {
  text-align: center;
  font-family: "Source Code Pro", serif;
  font-weight: 800;
  color: aliceblue;
  margin-bottom: 100px;
}

#player1-score {
  text-align: center;
  font-family: "Source Code Pro", serif;
  font-weight: 800;
  color: aliceblue;
  margin-top: 80px;
}

.choices {
    width: 90%;
    height: 92vh;
    background-color: #050811da;
    display: none;
    flex-direction: column;
   position: fixed;
    align-items: center;
    justify-content: center;
   bottom: 70px;
   top: 30px;
   left: 60px;
   

}
.choices img{
    width: 320px;
    height: 225px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #f8f9f9, -5px -5px 10px #cfcdce;

}
.choices h2{ text-align: center;
    font-family: "Source Code Pro", serif;
    font-weight: 800;
    color: aliceblue;}

.choices h1{  text-align: center;
    font-family: "Source Code Pro", serif;
    font-weight: 800;
    color: rgb(255, 7, 152);
    margin-bottom: 45px;}

.choices button{ width: 150px;
    height: 45px;
    background-color: transparent;
    border-color: rgb(0, 255, 157);
    border-radius: 12px;
    box-shadow: 5px 5px 10px #0bffaa, -5px -5px 10px #ff0bde;
    margin-top: 25px;
    cursor: pointer;}
.next-round-text{  font-family: "Source Code Pro", serif;
    color: antiquewhite;
    font-weight: 600;}

.choices button:hover{
    transform: scale(1.1);
}